.list {
  color: #000000;
  width: 400px;
  background-color: #ffffff;
  height: 40px;
  margin: 20px 40px 20px 45px;
  border-radius: 10px;
}
.list p {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  position: relative;
}
.list p span {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.list .minus-icons {
  margin: 2px;
  padding: 2px;
  font-size: 20px;
}
.list p input {
  background-color: transparent;
  border: 0;
  color: #000000;
  font-size: 20px;
  font-family: "Kreon", serif;
}
.list button:focus {
  outline: none;
}
